# Python
venv/
__pycache__/
*.pyc

# Database
db.sqlite3py
*.sqlite3

# Environment variables
.env

# User uploaded files
media/

# Collected static files
staticfiles/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE and Editor
.vscode/
.idea/
.history/