<footer class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="fw-bold">Non-Ferrous Casting</h5>

        <p>
          Premium industrial brass and plumbing manufacturing solutions based in
          Norton, Zimbabwe.
        </p>
      </div>

      <div class="col-md-4">
        <h5 class="fw-bold">Location</h5>

        <p>
          50 Galloway Road<br />
          Norton, Zimbabwe
        </p>
      </div>

      <div class="col-md-4">
        <h5 class="fw-bold">Contact</h5>

        <p>vumimoyo@gmail.com</p>
      </div>
    </div>
  </div>
</footer>
